<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/font.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<style type="text/css">
    body{
        padding: 50px;
    }
</style>

<script type="text/javascript">
    function trigger(){
        fetch("/ping", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },//options
            
            //callback
            }).then(function(res) {
                return res.json();
            }).then(function (data) {
                document.querySelector('#exp1').innerHTML = `${data.ip}:${data.message}`;
                
            });
    }
            
</script>

<p id="exp1" onclick="trigger()">[Post:Ping]click me to Post /ping for Response</p>

</body>
</html>
